#content .datGuiInner .dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

#content .datGuiInner .dg.main .close-button {
    background-color: #ccc;
}
 
#content .datGuiInner .dg.main .close-button:hover {
    background-color: #ddd;
}

#content .datGuiInner .dg {
    color: #555;
    text-shadow: none !important;
}

#content .datGuiInner .dg.main::-webkit-scrollbar {
    background: #fafafa;
}

#content .datGuiInner .dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
#content .datGuiInner .dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
#content .datGuiInner .dg li.save-row .button {
    text-shadow: none !important;
}

#content .datGuiInner .dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

#content .datGuiInner .dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
#content .datGuiInner .dg .c input[type=text] {
    background: #e9e9e9;
}
 
#content .datGuiInner .dg .c input[type=text]:hover {
    background: #eee;
}
 
#content .datGuiInner .dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
#content .datGuiInner .dg .c .slider {
    background: #e9e9e9;
}

#content .datGuiInner .dg .c .slider:hover {
    background: #eee;
}

#content .datGuiInner .dg.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both; 
}

/* Hides "Close Controls" box */
/*
#content .datGuiInner .dg.main .close-button {
    font-size: 0;   
    height: 0px;
}
*/